<div class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item mx-3"> <!-- mx-3 adds horizontal margin -->
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a  class="nav-link text-secondary" routerLink="/profile" routerLinkActive="text-dark">Profile</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
            </li>
        </ul>
    </div>
</div>
